:root {
  --vp-c-brand-secondary: #647eff;
}

.VPHome .VPHero.VPHomeHero .container .main .name .clip {
  background: linear-gradient(to right , var(--vp-c-brand) , var(--vp-c-brand-secondary));
  background-size: 200% 200%;
  animation: clip 16s infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes clip {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bg-slide {
  0% {
    background-position: 0 90%;
  }
  50% {
    background-position: 90% 0%;
  }
  100% {
    background-position: 0% 90%;
  }
}

.VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.brand,
.VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.alt {
  font-size: 16px;
  display: inline-block;
  border-radius: 8px;
  position: relative;
  font-weight: 600;
}

.VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.brand,
.VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.alt {
  padding-left: 48px;
}

.VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.brand {
  background-image: radial-gradient(closest-side,var(--vp-c-brand) 6%,var(--vp-c-brand-secondary) 50%,var(--vp-c-brand) 100%);
  background-size: 200% 600%;
  background-color: transparent;
  border: none;
  animation: bg-slide 16s infinite;
}

.VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.brand::before,
.VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.alt::before {
  left: 18px;
  position: absolute;
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.brand::before {
  content: "\e85c";
}
.dark .VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.brand::before {
  content: "\e74f";
}
.VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.alt::before {
  content: "\e85a";
}
.dark .VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.alt::before {
  content: "\e85b";
}

.VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.brand {
  transition: background-color 0.5s, color 0.5s;
  background-color: var(--vp-c-green);
  color: #fff;
}

.dark .VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.brand {
  color: var(--vp-c-bg-alt);
}
.VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.alt {
  color: #000;
}
.dark .VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.alt {
  color: #fff;
}


.VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.brand:hover {
  background-color: var(--vp-c-green-dark);
  transition-duration: 0.2s;
}
.dark .VPHome .VPHero.VPHomeHero .container .actions .action .VPButton.brand:hover {
  background-color: var(--vp-c-green-light);
}

.VPFooter {
  padding: 10px 0 !important;
  border: none !important;
}

.VPLink.VPNavBarMenuLink:empty {
  padding: 0 4px;
}
.VPLink.VPNavBarMenuLink:empty::before {
  width: 1px;
  height: 24px;
  background-color: var(--vp-c-divider);
  content: "";
}
.VPLink.VPNavScreenMenuLink:empty {
  display: none;
}

.gh-count {
  position: relative;
  display: inline-block;
  background-color: var(--vp-button-alt-bg);
  border: 1px solid var(--vp-button-alt-border);
  padding: 3px 10px 3px 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  border-radius: 8px;
  height: 40px;
  margin: 6px 0 6px 1px;
}

.dark .gh-count {
  background-color: var(--vp-button-alt-bg);
}

.gh-count::after, .gh-count::before {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.gh-count::before {
  left: -5px;
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
  top: 50%;
  border-right-color: var(--vp-button-alt-bg);
}

.dark .gh-count::before {
  border-right-color: var(--vp-button-alt-bg);
}

.gh-count::after {
  left: -6px;
  margin-top: -7px;
  border-width: 7px 7px 7px 0;
  top: 50%;
  z-index: -1;
  border-right-color: var(--vp-button-alt-border);
}
